*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;

  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --ff-base: "Inter", sans-serif;
  --font-title: 700 1.5rem/2rem var(--ff-base);
  --font-label: 500 1rem/1.25rem var(--ff-base);
  --font-p: 500 1rem/1.25rem var(--ff-base);
  --font-link: 500 .875rem/1rem var(--ff-base);
}

html{
  font: var(--font-p);
}



body{
  background-color: var(--background-primary);
  width: 100%;
  height: 100vh;
  transition: .2s ease;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.56rem;
}

input {
  font: var(--font-p);
}

a{
  text-decoration: none;
  color: var(--color-brand);
}

button {
  cursor: pointer;
}

@media (width < 80rem){
  img[src*="logo"]{
    display: none;
  }
}