.home {
  width: 80%;
  height: 100%;

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & form {
      padding-inline: 3rem;
      display: flex;
      gap: 1rem;
      max-width: 40rem;
      width: 100%;

      & input {
        width: 20rem;
        height: 2.8rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-primary);
        padding: 1.125rem;
        transition: 0.2s ease;

        &::placeholder {
          font: 400 1rem/140% var(--ff-base);
          color: var(--content-tertiary);
        }

        &:hover {
          border: 1px solid var(--border-hover);
        }

        &:focus {
          outline: none;
          border: 1px solid var(--color-brand);
        }
      }

      .button-wrapper {
        height: 2.8rem;
        display: flex;
        border-radius: .75rem;
        overflow: hidden;
      }
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }


  .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 39.18rem;
    width: 100%;
    margin-bottom: 2.75rem;
    padding-inline: 3rem;


    & h1 {
      font: var(--font-title);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    max-width: 40rem;
    max-height: 15rem;
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
    overflow-y: auto;
    padding-inline: 3rem;

    &::-webkit-scrollbar {
      width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-brand);
      border-radius: 0.75rem;
      background-clip: content-box;
    }

    & .purchase-item {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 3.06rem;
      height: 3.06rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
      background-color: var(--background-secondary);


      & label {
        margin-left: 1.5rem;
        transition: .2s ease;
      }

      & input[type="checkbox"] {
        position: relative;
        cursor: pointer;
        appearance: none;
      }

      & input[type="checkbox"]::before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        transition: 0.2s ease;
        border: 1px solid var(--border-primary);
        border-radius: 0.375rem;
      }

      & input[type="checkbox"]:checked::before {
        background-color: var(--color-brand);
        background-image: url(../assets/icons/check.svg);
        background-position: center;
        border: 1px solid var(--color-brand);
      }

      & input[type="checkbox"]:not(:checked):hover::before {
        border: 1px solid var(--border-hover);
      }

      & button {
        position: relative;
        appearance: none;
        border: none;
        background: none;
        width: 1rem;
        height: 1rem;
        margin-left: auto;

        &::before {
          position: absolute;
          display: block;
          content: "";
          width: 1rem;
          height: 1rem;
          top: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          background: url(../assets/icons/trash.svg);
          background-position: center;
          background-size: cover;
        }
      }
    }
  }

}

.saved-lists {
  width: 20%;
  height: 100%;
  background-color: #e7e8ec;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2rem;
  gap: 1rem;

  .nothing-here {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d1d1d1;
  }

  .quicklist {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    gap: .5rem;
    background-color: #ffffff;

    h3 {
      font-size: .975rem;
      color: #272727;

      img {
        vertical-align: center;
      }
    }

    p {
      margin-left: auto;
      font-size: .75rem;
      color: var(--color-brand);
    }

    ::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--color-brand);
      bottom: 0px;
      left: 0px;
    }

  }
}


/* @media (width < 80rem) {
  main {
    width: 100%;
    margin-top: 0%;

    & form {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;

      & input,
      button {
        width: 20rem;
      }
    }

    .heading {
      width: 100%;
      padding: 2rem;
    }
  }

  .list {
    max-width: 20rem;
    max-height: 11.3rem;
  }
} */