.home {
  width: 100%;
  height: 100vh;
  padding-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);

  main {
    width: 60%;
    height: 100%;

    & .container {
      width: 100%;
      height: 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 20rem;
      gap: 1rem;
      transition: .5s ease;

      h2 {
        color: var(--content-secondary);
      }

      p {
        color: var(--content-tertiary);
      }

      .list-items {
        min-width: 35rem;
        min-height: 25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-inline: 1rem;

        &::-webkit-scrollbar {
          width: 0.25rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--color-brand);
          border-radius: 0.75rem;
          background-clip: content-box;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          width: 35rem;
          height: 3.2rem;
          background-color: var(--background-secondary);
          border-radius: .75rem;

          p {
            color: var(--content-secondary);
          }

          svg {
            margin-left: auto;

            path {
              transition: .2s ease;
              stroke: var(--content-secondary);
            }

            &:hover {
              path {
                stroke: #cd0400;
              }
            }
          }
        }
      }
    }

    .head-up-container {
      padding-block: 10rem;
    }
  }


  aside {
    display: none;
    border: 1px solid;
    width: 40%;
    height: 100%;
  }
}